<ion-view view-title="Sell Page">
    <ion-content class="padding">
        <div class="list card">
            <p>Sell Page - will have forms to put name and price</p>

            <label class="item item-input">
                <span class="input-label">Item Name</span>
                <input type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">Price</span>
                <input type="text">
            </label>

            <button class="button button-block button-positive">
                Sell!
            </button>
        </div>
    </ion-content>
</ion-view>
